/*
!config
!public/
public/*
!public/favicon.ico
!public/typo3conf/
public/typo3conf/*
!public/typo3conf/ext
public/typo3conf/ext/*
!public/typo3conf/ext/pferdehof/
!public/typo3conf/ext/pferdehof/**
!/public/typo3conf/AdditionalConfiguration.php

!.gitignore
!composer.json
!composer.lock
!/config/sites/main/config.yaml
