/*
!config/
!config/**
!public/favicon.ico
!public/typo3conf/ext/pferdehof/
!public/typo3conf/ext/pferdehof/**
!/public/typo3conf/AdditionalConfiguration.php

!.gitignore
!composer.json
!composer.lock
